@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.woff2") format("woff2"),
    url("../fonts/Roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Robotobold.woff2") format("woff2"),
    url("../fonts/Robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --title-color: #fff;
  --bg-color: #3f2aff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
}

.button-reset {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  font-family: inherit;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
}

/* Header */
.header {
  margin: 0 auto;
  padding: 27px 0;
  width: 100%;
  /* max-width: 1440px; */
  background-color: var(--bg-color);
}

.header__container {
  align-items: center;
}

.header__logo-img {
  margin-bottom: 4px;
}

.nav-item:not(:last-child) {
  margin-right: 57px;
}

.nav__list {
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  padding: 0;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  color: var(--title-color);
}

.nav-link:hover {
  color: #ff0000;
}

.header__burger {
  position: relative;
  display: none;
  width: 30px;
  height: 23px;
  z-index: 4;
}

.header__burger .burger__line,
.header__burger .burger__line::before,
.header__burger .burger__line::after {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-top: -1.5px;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: var(--title-color);
}

.header__burger .burger__line::before,
.header__burger .burger__line::after {
  content: "";
}

.header__burger .burger__line::before {
  transform: translateY(-7px);
}

.header__burger .burger__line::after {
  transform: translateY(7px);
}

/* Hero */
.hero {
  width: 100%;
  /* max-width: 1440px; */
  background: radial-gradient(
    44.07% 44.07% at 67.78% 55.93%,
    #555681 0%,
    #212133 100%
  );
}

.hero__info {
  padding-top: 130px;
  padding-bottom: 130px;
}

.hero__container {
  align-items: center;
}

.hero__title {
  margin-bottom: 27px;
  font-size: calc(50px + (60 - 50) * (100vw - 992px) / (1440 - 992));
  font-weight: 700;
  line-height: 100%;
  color: var(--title-color);
}

.hero__description {
  margin-bottom: 63px;
  font-size: 18px;
  line-height: 150%;
  color: var(--title-color);
}

.hero__button {
  padding: 24px 75px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: var(--title-color);
  background: var(--bg-color);
  border-radius: 20px;
}

.hero__button:hover {
  background-color: #6050f6;
}

.hero__background {
  margin-top: 15px;
  margin-bottom: 12px;
  height: 593px;
  background-image: url("../img/hero-img.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Advantages */
.advantages {
  padding-top: 80px;
  padding-bottom: 80px;
}

.advantages__info {
  margin-bottom: 3px;
}

.advantages__background {
  margin-top: 21px;
  height: 142px;
  background-image: url("../img/advantages-img.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.advantages__title {
  margin-bottom: 17px;
  max-width: 380px;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  color: #2e2b44;
}

.advantages__description {
  max-width: 585px;
  font-size: 16px;
  line-height: 150%;
  color: #666666;
}

.advantages__item {
  display: flex;
  align-items: center;
}

.advantages__icon {
  margin-right: 30px;
  height: 80px;
  width: 80px;
  background-position: center center;
  background-repeat: no-repeat;
}

.icon-result {
  background-image: url("../img/result-icon.svg");
}

.icon-acquaintance {
  background-image: url("../img/acquaintance-icon.svg");
}

.icon-significance {
  background-image: url("../img/significance-icon.svg");
}

.advantages__text {
  max-width: 240px;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  color: #666666;
}

/* Teachers */
.teachers {
  padding-top: 75px;
  padding-bottom: 72px;
  width: 100%;
  /* max-width: 1440px; */
  background-color: #212133;
}

.teachers__title {
  margin-bottom: 23px;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  color: var(--title-color);
}

.teachers__card {
  display: flex;
  flex-direction: column;
}

.teachers__photo {
  margin-bottom: 31px;
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 23px 23px 0px 0px;
}

.teachers__name {
  margin-bottom: 8px;
  font-weight: 700;
  line-height: 150%;
  color: var(--title-color);
}

.teachers__text {
  font-size: 16px;
  line-height: 150%;
  color: #85859b;
}

/* Courses */
.courses {
  padding-top: 74px;
  padding-bottom: 80px;
}

.courses__title {
  margin-bottom: 24px;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  color: #212133;
}

.courses__card {
  margin-bottom: 30px;
  border: none;
  border-radius: 20px;
}

.card__time {
  position: absolute;
  display: flex;
  align-items: center;
  top: 10px;
  right: 20px;
}

.card__time-icon {
  display: inline-block;
  margin-right: 4px;
  width: 24px;
  height: 24px;
  background-image: url("../img/time.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.card__time-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: var(--title-color);
}

.card__img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-bottom: 1px;
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card__info {
  position: relative;
  padding: 30px;
  padding-bottom: 91px;
  height: calc(100% - 180px);
  background-color: #edf0f9;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.card__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  color: #212133;
}

.card__text {
  margin-bottom: 47px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #666666;
}

.card__button {
  position: absolute;
  bottom: 30px;
  left: 30px;
  padding: 21px 59px;
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: var(--title-color);
  background: var(--bg-color);
  border-radius: 20px;
}

.card__button:hover {
  background-color: #6050f6;
}

@media (max-width: 1200px) {
  .advantages__item {
    flex-direction: column;
    align-items: flex-start;
  }

  .advantages__icon {
    margin-right: 0;
    margin-bottom: 13px;
  }

  .advantages__text {
    max-width: 210px;
  }
}

@media (max-width: 992px) {
  /* Hero */
  .hero__info {
    padding-top: 130px;
    padding-bottom: 134px;
  }

  .hero__title {
    margin-bottom: 15px;
    font-size: 50px;
  }

  .hero__background {
    margin-top: -20px;
    margin-bottom: 12px;
    height: 351px;
    background-image: url("../img/hero-img-768.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  /* Advantages */
  .advantages {
    padding-bottom: 75px;
  }

  .advantages__background {
    margin-top: 24px;
    height: 187px;
    background-image: url("../img/advantages-img-992.png");
  }

  /* Teachers */
  .teachers {
    padding-bottom: 29px;
  }

  .teachers__card {
    margin-bottom: 21px;
  }

  /* Courses */
  .card__time {
    right: 25px;
  }

  .card__info {
    padding-bottom: 70px;
  }

  .card__button {
    padding: 20px 56px;
  }
}

@media (max-width: 767px) {
  /* Header */
  .header__logo {
    text-align: center;
    margin-bottom: 25px;
  }

  .nav__list {
    justify-content: center;
  }
  /* Hero */
  .hero__info {
    padding-top: 77px;
    padding-bottom: 135px;
  }

  .hero__title {
    margin-bottom: 16px;
  }

  .hero__description {
    margin-bottom: 63px;
    max-width: 345px;
  }

  .hero__background {
    display: none;
  }

  /* Advantages */
  .advantages {
    padding-bottom: 54px;
  }

  .advantages__background {
    margin-top: 0;
    height: 134px;
    background-image: url("../img/advantages-img-767.png");
  }

  /* Teachers */
  .teachers {
    padding-bottom: 53px;
  }

  /* Courses */
  .card__title {
    line-height: 130%;
  }

  .card__info {
    padding-bottom: 76px;
  }

  .card__button {
    padding: 20px 49px;
  }
}

@media (max-width: 575px) {
  /* Header */
  .header__logo {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
    width: 50%;
  }

  .header__nav {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }

  .nav__list {
    display: none;
  }

  .header__burger {
    display: block;
  }

  /* Hero */
  .hero__info {
    padding-top: 49px;
    padding-bottom: 50px;
  }

  .hero__title {
    margin-bottom: 7px;
    font-size: 30px;
  }

  .hero__description {
    margin-bottom: 45px;
    font-size: 16px;
    line-height: 130%;
  }

  .hero__button {
    padding: 21px 54px;
    font-size: 16px;
    line-height: 19px;
  }

  /* Advantages */
  .advantages {
    padding-top: 50px;
    padding-bottom: 19px;
  }

  .advantages__background {
    display: none;
  }

  .advantages__info {
    margin-bottom: 4px;
  }

  .advantages__title {
    margin-bottom: 2px;
    font-size: 20px;
    line-height: 130%;
  }

  .advantages__item {
    flex-direction: row;
  }

  .advantages__icon {
    flex-shrink: 0;
    margin-right: 30px;
    margin-bottom: 30px;
  }

  .advantages__text {
    max-width: none;
  }

  .teachers {
    padding-top: 47px;
    padding-bottom: 24px;
  }

  .teachers__title {
    margin-bottom: 27px;
    font-size: 20px;
    line-height: 100%;
  }

  .teachers__card {
    margin-bottom: 22px;
  }

  /* Courses */
  .courses {
    padding-top: 46px;
    padding-bottom: 80px;
  }

  .courses__card {
    margin-bottom: 29px;
  }

  .courses__title {
    margin-bottom: 27px;
    font-size: 20px;
  }

  .card__info {
    min-height: 473px;
  }

  .card__button {
    padding: 21px 56px;
  }
}
